main{
    display: flex;
    flex-direction: column;
    gap: 120px;
    /* width: calc(100% - 30px - 30px); */
}



.main-title-of-page{
    display: flex;
    align-items: center;

    gap: 30px;
}
.main-title-of-page-text{
    width: 50%;
}
.main-title-of-page-text-self{
    font-size: 50px;
    font-weight: 800;

    text-align: center;
}

.main-title-of-page-image{
    width: 50%;
    height: 400px;

    position: relative;
    transition: .25s ease;


    & *{
        &::selection{
            color: black;
            background-color: white;
        }
    }
}
.main-title-of-page-image:hover{
    transform: scale(1.05);
}

.main-title-of-page-image img{
    width: 100%;
    height: 100%;
    
    border-radius: 15px;

    object-fit: cover;

    position: relative;
    z-index: 1;
}

.main-title-of-page-image .liner{
    width: 100%;
    height: 110%;

    background-color: black;

    border-radius: 15px;

    position: absolute;
    top: 0;

    transition: .25s ease;
}
.main-title-of-page-image .liner a{
    font-size: 13px;

    color: white;

    text-decoration: none;

    position: absolute;
    bottom: 10px;
    left: 10px;
}
.main-title-of-page-image .liner a:hover{
    text-decoration: underline;
}

.pages-boxes{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.page-boxes{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.page-boxes .title-of-page{
    font-size: 40px;
    text-align: center;
}
.boxes-of-products{
    display: flex;
    justify-content: center;

    gap: calc((200 * 5 - 100%) / (5 - 1));    
    /* gap: 88px;     */
    gap: 60px;
    
    flex-wrap: wrap;
}

.box{
    width: calc(200px - 2px);
    height: calc(375px - 2px);
    
    background-color: black;

    border-radius: 15px;
    color: white;

    box-shadow: inset;
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;

    transition: .25s ease;

    & *{
        &::selection{
            color: black;
            background-color: white;
        }
    }
}
.box:hover{
    background-color: #999;
}

.box-image-part{
    width: 100%;
    height: 162px;

    object-fit: cover;
}

.box-text-part{
    /* height: calc(100% - 131px - 20px - 20px - 1px - 1px - 1px); */
    height: calc(100% - 161px - 20px - 20px);

    /* border-right: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px; */

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 20px;


    & p{
        font-size: 15px;
    }
}

.box-price-part{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.box-price-part p{
    font-weight: 600;
}